<div class="row" style="margin-bottom: 3em">
  <div class="col">
    <h1 class="text-center">Weather Forecase with chart.js</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <div *ngIf="chart">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 3em">
  <div class="col">
    <h3 class="text-center">Weather Forecase for {{date}}</h3>
  </div>
</div>

<dl class="row" *ngIf="chart">
  <dt class="col-sm-3">Country Name</dt>
  <dd class="col-sm-9">{{countryName}}</dd>
  <dt class="col-sm-3">Country Population</dt>
  <dd class="col-sm-9">{{population}}</dd>
  <dt class="col-sm-3">Country Coordinates</dt>
  <dd class="col-sm-9">{{coordinates}}</dd>
  <dt class="col-sm-3">Weather</dt>
  <dd class="col-sm-9">{{weather}}</dd>
  <dt class="col-sm-3">Weather Description</dt>
  <dd class="col-sm-9">{{weatherDesc}}</dd>
  <dt class="col-sm-3">Weather Degree</dt>
  <dd class="col-sm-9">{{windDeg}}</dd>
  <dt class="col-sm-3">Weather Speed</dt>
  <dd class="col-sm-9">{{windSpeed}}</dd>
  <dt class="col-sm-3">Weather Humidity</dt>
  <dd class="col-sm-9">{{humidity}}</dd>
  <dt class="col-sm-3">Weather Pressure</dt>
  <dd class="col-sm-9">{{pressure}}</dd>
  <dt class="col-sm-3">Weather Temperature</dt>
  <dd class="col-sm-9">{{temp}}</dd>
  <dt class="col-sm-3">Sea Level</dt>
  <dd class="col-sm-9">{{seaLevel}}</dd>
  <dt class="col-sm-3">Ground Level</dt>
  <dd class="col-sm-9">{{groundLevel}}</dd>
</dl>
